/*
** STYLE ELEMENTS GENERAUX
*/
body {
    font-family: 'Open Sans', Arial, sans-serif;
    padding: 1%;
    margin: 2% 10%;
    border: 0.2em solid #0e016e;
    border-radius:10px;
}

h1 {
    margin: 0;
    margin-top: 1%;
}

h2 {
    color: #0e016e;
    font-size: large;

    width: fit-content;
    /* Reset les marges par défaut sur le titre 2 */
    margin: 0;
}

/* Reset les marges par défaut sur les paragraphes */
p {
    margin: 0px;
}

ul {
    margin: 0.5em 0 1em 0;
    position: relative;
    right: 1.5em;
}

/* Customisation ligne de séparation */
hr {
    width: 74%;
    margin-left: 21.5%;
    margin-right: 3%;
    border:none;
    border-top: 0.15em solid #d4d4d4;
    background-color: #d4d4d4;
}

/*
** LAYOUT GLOBAL
*/
header,
.main_resume_section {
    margin: 1% 0;

    display: flex;
    gap: 2em;
}

.margin_element {
    flex-basis: 20%;

    display: flex;
    justify-content: end;
}

.main_element {
    flex-basis: 80%;
}

.smaller_section_title {
    width: 6em;
    text-align: right;
    overflow: hidden;
}

/*
** JAUGE DE PROGRESSION
*/
progress {
    /* Suppression de l'apparence apportée par les navigateurs */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 12em;
    height: 10px;

    /* Couleur de fond de la barre de progression */
    background-color: #ababab;
    border-radius: 10px;
    /* Pas d'overflow au-delà des bords arrondis */
    overflow: hidden;
}

/* Customisation pour les navigateurs type Chrome, Safari... */
progress::-webkit-progress-bar {
    background-color: #ababab;
}

progress::-webkit-progress-value {
    /* Couleur de la barre de progression */
    background-color: #0e016e;
    border-radius: 10px;
}

/* Customisation pour Firefox */
progress::-moz-progress-bar {
    background-color: #0e016e;
    border-radius: 10px;
}

/*
** HEADER
*/
.contact_form {
    width: 40%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 5%;
}

.contact_form div {
    height: 1.3em;

    display: flex;
    gap: 0.5em;
}

.contact_form div img {
    object-fit: contain;
    max-width: 1em;
    height:auto;
}

#job_position {
    color: #0e016e;
    font-weight: 500;
    margin-bottom: 1em;
}

/*
** EXPERIENCES & DIPLÔMES
*/
.experience_title_container {
    width: 95%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.experience_title {
    color: black;
}

/*
** COMPETENCES & LANGUES
*/
.customise_container {
    height: 5.2em;
}

.main_element:has(> .progress_container) {
    display: flex;
    flex-wrap: wrap;
    gap: 15% 20%;
}

.progress_container {
    display:flex;
    flex-direction: column;
}

.progress_label {
    font-weight: 700;
}

/*
** CENTRES D'INTERET
*/
.hobbies_container {
    height: 4.5em;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5em;
}

.hobbie_container {
    display: flex;
    align-content: start;
    gap:0.3em;
}

.check {
    height: 0.65em;
    width: 0.25em;

    border-bottom: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(45deg);
    margin: 0.2em 0.5em;
}

/*
** FORMULAIRE
*/
#special_line {
    width: 90%;
    margin: 3% 2% 2% 5%;
}

.customise_form {
    background: linear-gradient(to right, #C6FFDD, #FBD786, #f7797d);

    width: 90%;
    margin: 2%;
    padding: 1% 2%;

    border: 2px solid black;
    border-radius: 10px;
}

.customise_form h1 {
    color: #0e016e;
    text-align: center;
    margin-bottom: 0.5em;
}

.customise_form p {
    padding-bottom: 1em;
}

form {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3em 10em;
}

.info div,
.contact_message {
    display: flex;
    flex-direction: column;
    label {
        text-align: center;
        margin-bottom: 0.5em;
    }
}

.contact_message {
    margin: 2%;
    textarea {
        min-height: 10em;
        border: 1px solid black;
        border-radius: 5px;
    }
}

.input_field {
    min-width: 20em;
    min-height: 2em;
    border: 1px solid black;
    border-radius: 10px;
}

input[type="submit"] {
    max-width: 5em;
    align-self: center;
}